# SPDX-FileCopyrightText: © {{ year }} {{ author_name }}
# SPDX-License-Identifier: {{ license }}

# Changes here will be overwritten by Copier; NEVER EDIT MANUALLY.
{{ _copier_answers | to_nice_yaml -}}
