{% if not markdown_has_frontmatter %}<!--
SPDX-FileCopyrightText: © {{ year }} {{ author_name }}
SPDX-License-Identifier: {{ license }}
-->

{% endif %}# {{ project_name }}

{% if project_description -%}
{{ project_description }}
{%- else -%}
Documentation for {{ project_name }}.
{%- endif %}
