# SPDX-FileCopyrightText: © {{ year }} {{ author_name }}
# SPDX-License-Identifier: {{ license }}

# {{ project_name }} infrastructure. Define resources here.

locals {
  name = "{{ project_slug }}-${var.environment}"
}
