<!--
SPDX-FileCopyrightText: © {{ year }} {{ author_name }}
SPDX-License-Identifier: {{ license }}
-->

# {{ project_name }} — Terraform

```bash
terraform init
terraform fmt
terraform validate
terraform plan
```
