# SPDX-FileCopyrightText: © {{ year }} {{ author_name }}
# SPDX-License-Identifier: {{ license }}

apiVersion: v2
name: {{ project_slug }}
description: A Helm chart for {{ project_name }}
type: application
version: 0.1.0
appVersion: "0.0.0"
